*{
    box-sizing: border-box;
}

input{
    margin: 0;
}

fieldset{
    border: none;
    gap: 10px;
    width: 100%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.from-group{
    display: flex;
}

